Assignment 14.1

Read the following data set:
https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Task:
1. Create an sqlalchemy engine using a sample from the data set
2. Write two basic update queries
3. Write two delete queries
4. Write two filter queries
5. Write two function queries

In [1]:
import numpy as np
import pandas as pd
import sqlalchemy
import sqlite3

In [2]:
sqlalchemy.__version__   #A quick check to verify that we are on at least version 1.2 of SQLAlchemy:

'1.2.1'

In [3]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data")
df

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
5,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
6,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
7,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
8,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
9,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
10,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
11,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
12,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
13,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
14,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
15,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
16,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
17,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
18,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
19,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
20,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
21,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
22,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
23,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
24,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
25,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
26,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
27,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
28,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
29,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32531,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32532,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32533,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32534,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32535,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32536,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32537,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32538,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32539,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32540,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32541,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32542,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32543,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32544,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32545,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32546,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32547,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32548,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32549,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32550,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32551,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32552,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32553,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32554,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
df.columns = ["age","workclass","fnlwgt","education","education_num","marital_status","occupation","relationship","race",
             "sex","capital_gain","capital_loss","hours_per_week","native_country","income_class"]
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income_class
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

#1. Create an sqlalchemy engine using a sample from the data set

In [52]:

from sqlalchemy import create_engine
from pandasql import sqldf

engine = create_engine('sqlite:///:memory:', echo=False)  # Creating engine

df.to_sql("sqladb", engine, if_exists='replace')

In [53]:
connection  = sqlite3.connect('sqladb')

cursor = connection.cursor()

In [9]:
print("\n 1. Create an sqlalchemy engine using a sample from the data set\n",'-'*80, sep='')

print(pd.read_sql_query("SELECT * FROM sqladb Limit 5", connection));

 1. Create an sqlalchemy engine using a sample from the data set
--------------------------------------------------------------------------------
   index  age          workclass  fnlwgt   education  education_num  \
0      0   50   Self-emp-not-inc    1515   Bachelors             13
1      1   38            Private  215646     HS-grad              9
2      2   53            Private  234721        11th              7
3      3   28            Private  338409   Bachelors             13
4      4   37            Private  284582     Masters             14

        marital_status          occupation    relationship    race      sex  \
0   Married-civ-spouse     Exec-managerial         Husband   White     Male
1             Divorced   Handlers-cleaners   Not-in-family   White     Male
2   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
3   Married-civ-spouse      Prof-specialty            Wife   Black   Female
4   Married-civ-spouse     Exec-managerial            Wife   White   Female

   capital_gain  capital_loss  hours_per_week  native_country income_class
0             0             0              13   United-States        <=50K
1             0             0              40   United-States        <=50K
2             0             0              40   United-States        <=50K
3             0             0              40            Cuba        <=50K
4             0             0              40   United-States        <=50K

#2. Write two basic update queries

In [10]:
print("\n 2. First Update (Changing Private workclass to Updated)\n",'-'*80, sep='')

cursor.execute('UPDATE sqladb SET workclass = "Updated" WHERE workclass = " Private"')
print(pd.read_sql_query("SELECT * FROM sqladb", connection));

 2. First Update (Changing Private workclass to Updated)
--------------------------------------------------------------------------------
       index  age          workclass  fnlwgt      education  education_num  \
0          0   50   Self-emp-not-inc    1515      Bachelors             13
1          1   38            Updated  215646        HS-grad              9
2          2   53            Updated  234721           11th              7
3          3   28            Updated  338409      Bachelors             13
4          4   37            Updated  284582        Masters             14
5          5   49            Updated  160187            9th              5
6          6   52   Self-emp-not-inc  209642        HS-grad              9
7          7   31            Updated   45781        Masters             14
8          8   42            Updated  159449      Bachelors             13
9          9   37            Updated  280464   Some-college             10
10        10   30          State-gov  141297      Bachelors             13
11        11   23            Updated  122272      Bachelors             13
12        12   32            Updated  205019     Assoc-acdm             12
13        13   40            Updated  121772      Assoc-voc             11
14        14   34            Updated  245487        7th-8th              4
15        15   25   Self-emp-not-inc  176756        HS-grad              9
16        16   32            Updated  186824        HS-grad              9
17        17   38            Updated   28887           11th              7
18        18   43   Self-emp-not-inc  292175        Masters             14
19        19   40            Updated  193524      Doctorate             16
20        20   54            Updated  302146        HS-grad              9
21        21   35        Federal-gov   76845            9th              5
22        22   43            Updated  117037           11th              7
23        23   59            Updated  109015        HS-grad              9
24        24   56          Local-gov  216851      Bachelors             13
25        25   19            Updated  168294        HS-grad              9
26        26   54                  ?  180211   Some-college             10
27        27   39            Updated  367260        HS-grad              9
28        28   49            Updated  193366        HS-grad              9
29        29   23          Local-gov  190709     Assoc-acdm             12
...      ...  ...                ...     ...            ...            ...
32530  32530   30                  ?   33811      Bachelors             13
32531  32531   34            Updated  204461      Doctorate             16
32532  32532   54            Updated  337992      Bachelors             13
32533  32533   37            Updated  179137   Some-college             10
32534  32534   22            Updated  325033           12th              8
32535  32535   34            Updated  160216      Bachelors             13
32536  32536   30            Updated  345898        HS-grad              9
32537  32537   38            Updated  139180      Bachelors             13
32538  32538   71                  ?  287372      Doctorate             16
32539  32539   45          State-gov  252208        HS-grad              9
32540  32540   41                  ?  202822        HS-grad              9
32541  32541   72                  ?  129912        HS-grad              9
32542  32542   45          Local-gov  119199     Assoc-acdm             12
32543  32543   31            Updated  199655        Masters             14
32544  32544   39          Local-gov  111499     Assoc-acdm             12
32545  32545   37            Updated  198216     Assoc-acdm             12
32546  32546   43            Updated  260761        HS-grad              9
32547  32547   65   Self-emp-not-inc   99359    Prof-school             15
32548  32548   43          State-gov  255835   Some-college             10
32549  32549   43   Self-emp-not-inc   27242   Some-college             10
32550  32550   32            Updated   34066           10th              6
32551  32551   43            Updated   84661      Assoc-voc             11
32552  32552   32            Updated  116138        Masters             14
32553  32553   53            Updated  321865        Masters             14
32554  32554   22            Updated  310152   Some-college             10
32555  32555   27            Updated  257302     Assoc-acdm             12
32556  32556   40            Updated  154374        HS-grad              9
32557  32557   58            Updated  151910        HS-grad              9
32558  32558   22            Updated  201490        HS-grad              9
32559  32559   52       Self-emp-inc  287927        HS-grad              9

               marital_status          occupation     relationship  \
0          Married-civ-spouse     Exec-managerial          Husband
1                    Divorced   Handlers-cleaners    Not-in-family
2          Married-civ-spouse   Handlers-cleaners          Husband
3          Married-civ-spouse      Prof-specialty             Wife
4          Married-civ-spouse     Exec-managerial             Wife
5       Married-spouse-absent       Other-service    Not-in-family
6          Married-civ-spouse     Exec-managerial          Husband
7               Never-married      Prof-specialty    Not-in-family
8          Married-civ-spouse     Exec-managerial          Husband
9          Married-civ-spouse     Exec-managerial          Husband
10         Married-civ-spouse      Prof-specialty          Husband
11              Never-married        Adm-clerical        Own-child
12              Never-married               Sales    Not-in-family
13         Married-civ-spouse        Craft-repair          Husband
14         Married-civ-spouse    Transport-moving          Husband
15              Never-married     Farming-fishing        Own-child
16              Never-married   Machine-op-inspct        Unmarried
17         Married-civ-spouse               Sales          Husband
18                   Divorced     Exec-managerial        Unmarried
19         Married-civ-spouse      Prof-specialty          Husband
20                  Separated       Other-service        Unmarried
21         Married-civ-spouse     Farming-fishing          Husband
22         Married-civ-spouse    Transport-moving          Husband
23                   Divorced        Tech-support        Unmarried
24         Married-civ-spouse        Tech-support          Husband
25              Never-married        Craft-repair        Own-child
26         Married-civ-spouse                   ?          Husband
27                   Divorced     Exec-managerial    Not-in-family
28         Married-civ-spouse        Craft-repair          Husband
29              Never-married     Protective-serv    Not-in-family
...                       ...                 ...              ...
32530           Never-married                   ?    Not-in-family
32531      Married-civ-spouse      Prof-specialty          Husband
32532      Married-civ-spouse     Exec-managerial          Husband
32533                Divorced        Adm-clerical        Unmarried
32534           Never-married     Protective-serv        Own-child
32535           Never-married     Exec-managerial    Not-in-family
32536           Never-married        Craft-repair    Not-in-family
32537                Divorced      Prof-specialty        Unmarried
32538      Married-civ-spouse                   ?          Husband
32539               Separated        Adm-clerical        Own-child
32540               Separated                   ?    Not-in-family
32541      Married-civ-spouse                   ?          Husband
32542                Divorced      Prof-specialty        Unmarried
32543                Divorced       Other-service    Not-in-family
32544      Married-civ-spouse        Adm-clerical             Wife
32545                Divorced        Tech-support    Not-in-family
32546      Married-civ-spouse   Machine-op-inspct          Husband
32547           Never-married      Prof-specialty    Not-in-family
32548                Divorced        Adm-clerical   Other-relative
32549      Married-civ-spouse        Craft-repair          Husband
32550      Married-civ-spouse   Handlers-cleaners          Husband
32551      Married-civ-spouse               Sales          Husband
32552           Never-married        Tech-support    Not-in-family
32553      Married-civ-spouse     Exec-managerial          Husband
32554           Never-married     Protective-serv    Not-in-family
32555      Married-civ-spouse        Tech-support             Wife
32556      Married-civ-spouse   Machine-op-inspct          Husband
32557                 Widowed        Adm-clerical        Unmarried
32558           Never-married        Adm-clerical        Own-child
32559      Married-civ-spouse     Exec-managerial             Wife

                      race      sex  capital_gain  capital_loss  \
0                    White     Male             0             0
1                    White     Male             0             0
2                    Black     Male             0             0
3                    Black   Female             0             0
4                    White   Female             0             0
5                    Black   Female             0             0
6                    White     Male             0             0
7                    White   Female         14084             0
8                    White     Male          5178             0
9                    Black     Male             0             0
10      Asian-Pac-Islander     Male             0             0
11                   White   Female             0             0
12                   Black     Male             0             0
13      Asian-Pac-Islander     Male             0             0
14      Amer-Indian-Eskimo     Male             0             0
15                   White     Male             0             0
16                   White     Male             0             0
17                   White     Male             0             0
18                   White   Female             0             0
19                   White     Male             0             0
20                   Black   Female             0             0
21                   Black     Male             0             0
22                   White     Male             0          2042
23                   White   Female             0             0
24                   White     Male             0             0
25                   White     Male             0             0
26      Asian-Pac-Islander     Male             0             0
27                   White     Male             0             0
28                   White     Male             0             0
29                   White     Male             0             0
...                    ...      ...           ...           ...
32530   Asian-Pac-Islander   Female             0             0
32531                White     Male             0             0
32532   Asian-Pac-Islander     Male             0             0
32533                White   Female             0             0
32534                Black     Male             0             0
32535                White   Female             0             0
32536                Black     Male             0             0
32537                Black   Female         15020             0
32538                White     Male             0             0
32539                White   Female             0             0
32540                Black   Female             0             0
32541                White     Male             0             0
32542                White   Female             0             0
32543                Other   Female             0             0
32544                White   Female             0             0
32545                White   Female             0             0
32546                White     Male             0             0
32547                White     Male          1086             0
32548                White   Female             0             0
32549                White     Male             0             0
32550   Amer-Indian-Eskimo     Male             0             0
32551                White     Male             0             0
32552   Asian-Pac-Islander     Male             0             0
32553                White     Male             0             0
32554                White     Male             0             0
32555                White   Female             0             0
32556                White     Male             0             0
32557                White   Female             0             0
32558                White     Male             0             0
32559                White   Female         15024             0

       hours_per_week  native_country income_class
0                  13   United-States        <=50K
1                  40   United-States        <=50K
2                  40   United-States        <=50K
3                  40            Cuba        <=50K
4                  40   United-States        <=50K
5                  16         Jamaica        <=50K
6                  45   United-States         >50K
7                  50   United-States         >50K
8                  40   United-States         >50K
9                  80   United-States         >50K
10                 40           India         >50K
11                 30   United-States        <=50K
12                 50   United-States        <=50K
13                 40               ?         >50K
14                 45          Mexico        <=50K
15                 35   United-States        <=50K
16                 40   United-States        <=50K
17                 50   United-States        <=50K
18                 45   United-States         >50K
19                 60   United-States         >50K
20                 20   United-States        <=50K
21                 40   United-States        <=50K
22                 40   United-States        <=50K
23                 40   United-States        <=50K
24                 40   United-States         >50K
25                 40   United-States        <=50K
26                 60           South         >50K
27                 80   United-States        <=50K
28                 40   United-States        <=50K
29                 52   United-States        <=50K
...               ...             ...          ...
32530              99   United-States        <=50K
32531              60   United-States         >50K
32532              50           Japan         >50K
32533              39   United-States        <=50K
32534              35   United-States        <=50K
32535              55   United-States         >50K
32536              46   United-States        <=50K
32537              45   United-States         >50K
32538              10   United-States         >50K
32539              40   United-States        <=50K
32540              32   United-States        <=50K
32541              25   United-States        <=50K
32542              48   United-States        <=50K
32543              30   United-States        <=50K
32544              20   United-States         >50K
32545              40   United-States        <=50K
32546              40          Mexico        <=50K
32547              60   United-States        <=50K
32548              40   United-States        <=50K
32549              50   United-States        <=50K
32550              40   United-States        <=50K
32551              45   United-States        <=50K
32552              11          Taiwan        <=50K
32553              40   United-States         >50K
32554              40   United-States        <=50K
32555              38   United-States        <=50K
32556              40   United-States         >50K
32557              40   United-States        <=50K
32558              20   United-States        <=50K
32559              40   United-States         >50K

[32560 rows x 16 columns]

In [11]:
print("\n 2. Second Update (Changing native-country from United-States to America)\n",'-'*80, sep='')

cursor.execute('UPDATE sqladb SET native_country = "America" WHERE native_country = " United-States"')
print(pd.read_sql_query("SELECT * FROM sqladb;", connection))

 2. Second Update (Changing native-country from United-States to America)
--------------------------------------------------------------------------------
       index  age          workclass  fnlwgt      education  education_num  \
0          0   50   Self-emp-not-inc    1515      Bachelors             13
1          1   38            Updated  215646        HS-grad              9
2          2   53            Updated  234721           11th              7
3          3   28            Updated  338409      Bachelors             13
4          4   37            Updated  284582        Masters             14
5          5   49            Updated  160187            9th              5
6          6   52   Self-emp-not-inc  209642        HS-grad              9
7          7   31            Updated   45781        Masters             14
8          8   42            Updated  159449      Bachelors             13
9          9   37            Updated  280464   Some-college             10
10        10   30          State-gov  141297      Bachelors             13
11        11   23            Updated  122272      Bachelors             13
12        12   32            Updated  205019     Assoc-acdm             12
13        13   40            Updated  121772      Assoc-voc             11
14        14   34            Updated  245487        7th-8th              4
15        15   25   Self-emp-not-inc  176756        HS-grad              9
16        16   32            Updated  186824        HS-grad              9
17        17   38            Updated   28887           11th              7
18        18   43   Self-emp-not-inc  292175        Masters             14
19        19   40            Updated  193524      Doctorate             16
20        20   54            Updated  302146        HS-grad              9
21        21   35        Federal-gov   76845            9th              5
22        22   43            Updated  117037           11th              7
23        23   59            Updated  109015        HS-grad              9
24        24   56          Local-gov  216851      Bachelors             13
25        25   19            Updated  168294        HS-grad              9
26        26   54                  ?  180211   Some-college             10
27        27   39            Updated  367260        HS-grad              9
28        28   49            Updated  193366        HS-grad              9
29        29   23          Local-gov  190709     Assoc-acdm             12
...      ...  ...                ...     ...            ...            ...
32530  32530   30                  ?   33811      Bachelors             13
32531  32531   34            Updated  204461      Doctorate             16
32532  32532   54            Updated  337992      Bachelors             13
32533  32533   37            Updated  179137   Some-college             10
32534  32534   22            Updated  325033           12th              8
32535  32535   34            Updated  160216      Bachelors             13
32536  32536   30            Updated  345898        HS-grad              9
32537  32537   38            Updated  139180      Bachelors             13
32538  32538   71                  ?  287372      Doctorate             16
32539  32539   45          State-gov  252208        HS-grad              9
32540  32540   41                  ?  202822        HS-grad              9
32541  32541   72                  ?  129912        HS-grad              9
32542  32542   45          Local-gov  119199     Assoc-acdm             12
32543  32543   31            Updated  199655        Masters             14
32544  32544   39          Local-gov  111499     Assoc-acdm             12
32545  32545   37            Updated  198216     Assoc-acdm             12
32546  32546   43            Updated  260761        HS-grad              9
32547  32547   65   Self-emp-not-inc   99359    Prof-school             15
32548  32548   43          State-gov  255835   Some-college             10
32549  32549   43   Self-emp-not-inc   27242   Some-college             10
32550  32550   32            Updated   34066           10th              6
32551  32551   43            Updated   84661      Assoc-voc             11
32552  32552   32            Updated  116138        Masters             14
32553  32553   53            Updated  321865        Masters             14
32554  32554   22            Updated  310152   Some-college             10
32555  32555   27            Updated  257302     Assoc-acdm             12
32556  32556   40            Updated  154374        HS-grad              9
32557  32557   58            Updated  151910        HS-grad              9
32558  32558   22            Updated  201490        HS-grad              9
32559  32559   52       Self-emp-inc  287927        HS-grad              9

               marital_status          occupation     relationship  \
0          Married-civ-spouse     Exec-managerial          Husband
1                    Divorced   Handlers-cleaners    Not-in-family
2          Married-civ-spouse   Handlers-cleaners          Husband
3          Married-civ-spouse      Prof-specialty             Wife
4          Married-civ-spouse     Exec-managerial             Wife
5       Married-spouse-absent       Other-service    Not-in-family
6          Married-civ-spouse     Exec-managerial          Husband
7               Never-married      Prof-specialty    Not-in-family
8          Married-civ-spouse     Exec-managerial          Husband
9          Married-civ-spouse     Exec-managerial          Husband
10         Married-civ-spouse      Prof-specialty          Husband
11              Never-married        Adm-clerical        Own-child
12              Never-married               Sales    Not-in-family
13         Married-civ-spouse        Craft-repair          Husband
14         Married-civ-spouse    Transport-moving          Husband
15              Never-married     Farming-fishing        Own-child
16              Never-married   Machine-op-inspct        Unmarried
17         Married-civ-spouse               Sales          Husband
18                   Divorced     Exec-managerial        Unmarried
19         Married-civ-spouse      Prof-specialty          Husband
20                  Separated       Other-service        Unmarried
21         Married-civ-spouse     Farming-fishing          Husband
22         Married-civ-spouse    Transport-moving          Husband
23                   Divorced        Tech-support        Unmarried
24         Married-civ-spouse        Tech-support          Husband
25              Never-married        Craft-repair        Own-child
26         Married-civ-spouse                   ?          Husband
27                   Divorced     Exec-managerial    Not-in-family
28         Married-civ-spouse        Craft-repair          Husband
29              Never-married     Protective-serv    Not-in-family
...                       ...                 ...              ...
32530           Never-married                   ?    Not-in-family
32531      Married-civ-spouse      Prof-specialty          Husband
32532      Married-civ-spouse     Exec-managerial          Husband
32533                Divorced        Adm-clerical        Unmarried
32534           Never-married     Protective-serv        Own-child
32535           Never-married     Exec-managerial    Not-in-family
32536           Never-married        Craft-repair    Not-in-family
32537                Divorced      Prof-specialty        Unmarried
32538      Married-civ-spouse                   ?          Husband
32539               Separated        Adm-clerical        Own-child
32540               Separated                   ?    Not-in-family
32541      Married-civ-spouse                   ?          Husband
32542                Divorced      Prof-specialty        Unmarried
32543                Divorced       Other-service    Not-in-family
32544      Married-civ-spouse        Adm-clerical             Wife
32545                Divorced        Tech-support    Not-in-family
32546      Married-civ-spouse   Machine-op-inspct          Husband
32547           Never-married      Prof-specialty    Not-in-family
32548                Divorced        Adm-clerical   Other-relative
32549      Married-civ-spouse        Craft-repair          Husband
32550      Married-civ-spouse   Handlers-cleaners          Husband
32551      Married-civ-spouse               Sales          Husband
32552           Never-married        Tech-support    Not-in-family
32553      Married-civ-spouse     Exec-managerial          Husband
32554           Never-married     Protective-serv    Not-in-family
32555      Married-civ-spouse        Tech-support             Wife
32556      Married-civ-spouse   Machine-op-inspct          Husband
32557                 Widowed        Adm-clerical        Unmarried
32558           Never-married        Adm-clerical        Own-child
32559      Married-civ-spouse     Exec-managerial             Wife

                      race      sex  capital_gain  capital_loss  \
0                    White     Male             0             0
1                    White     Male             0             0
2                    Black     Male             0             0
3                    Black   Female             0             0
4                    White   Female             0             0
5                    Black   Female             0             0
6                    White     Male             0             0
7                    White   Female         14084             0
8                    White     Male          5178             0
9                    Black     Male             0             0
10      Asian-Pac-Islander     Male             0             0
11                   White   Female             0             0
12                   Black     Male             0             0
13      Asian-Pac-Islander     Male             0             0
14      Amer-Indian-Eskimo     Male             0             0
15                   White     Male             0             0
16                   White     Male             0             0
17                   White     Male             0             0
18                   White   Female             0             0
19                   White     Male             0             0
20                   Black   Female             0             0
21                   Black     Male             0             0
22                   White     Male             0          2042
23                   White   Female             0             0
24                   White     Male             0             0
25                   White     Male             0             0
26      Asian-Pac-Islander     Male             0             0
27                   White     Male             0             0
28                   White     Male             0             0
29                   White     Male             0             0
...                    ...      ...           ...           ...
32530   Asian-Pac-Islander   Female             0             0
32531                White     Male             0             0
32532   Asian-Pac-Islander     Male             0             0
32533                White   Female             0             0
32534                Black     Male             0             0
32535                White   Female             0             0
32536                Black     Male             0             0
32537                Black   Female         15020             0
32538                White     Male             0             0
32539                White   Female             0             0
32540                Black   Female             0             0
32541                White     Male             0             0
32542                White   Female             0             0
32543                Other   Female             0             0
32544                White   Female             0             0
32545                White   Female             0             0
32546                White     Male             0             0
32547                White     Male          1086             0
32548                White   Female             0             0
32549                White     Male             0             0
32550   Amer-Indian-Eskimo     Male             0             0
32551                White     Male             0             0
32552   Asian-Pac-Islander     Male             0             0
32553                White     Male             0             0
32554                White     Male             0             0
32555                White   Female             0             0
32556                White     Male             0             0
32557                White   Female             0             0
32558                White     Male             0             0
32559                White   Female         15024             0

       hours_per_week native_country income_class
0                  13        America        <=50K
1                  40        America        <=50K
2                  40        America        <=50K
3                  40           Cuba        <=50K
4                  40        America        <=50K
5                  16        Jamaica        <=50K
6                  45        America         >50K
7                  50        America         >50K
8                  40        America         >50K
9                  80        America         >50K
10                 40          India         >50K
11                 30        America        <=50K
12                 50        America        <=50K
13                 40              ?         >50K
14                 45         Mexico        <=50K
15                 35        America        <=50K
16                 40        America        <=50K
17                 50        America        <=50K
18                 45        America         >50K
19                 60        America         >50K
20                 20        America        <=50K
21                 40        America        <=50K
22                 40        America        <=50K
23                 40        America        <=50K
24                 40        America         >50K
25                 40        America        <=50K
26                 60          South         >50K
27                 80        America        <=50K
28                 40        America        <=50K
29                 52        America        <=50K
...               ...            ...          ...
32530              99        America        <=50K
32531              60        America         >50K
32532              50          Japan         >50K
32533              39        America        <=50K
32534              35        America        <=50K
32535              55        America         >50K
32536              46        America        <=50K
32537              45        America         >50K
32538              10        America         >50K
32539              40        America        <=50K
32540              32        America        <=50K
32541              25        America        <=50K
32542              48        America        <=50K
32543              30        America        <=50K
32544              20        America         >50K
32545              40        America        <=50K
32546              40         Mexico        <=50K
32547              60        America        <=50K
32548              40        America        <=50K
32549              50        America        <=50K
32550              40        America        <=50K
32551              45        America        <=50K
32552              11         Taiwan        <=50K
32553              40        America         >50K
32554              40        America        <=50K
32555              38        America        <=50K
32556              40        America         >50K
32557              40        America        <=50K
32558              20        America        <=50K
32559              40        America         >50K

[32560 rows x 16 columns]

#3. Write two delete queries

In [12]:
print("\n 3. First delete query (Delete rows where education = Masters) \n",'-'*80, sep='')

cursor.execute('DELETE FROM sqladb WHERE education = " Masters"')
print(pd.read_sql_query("SELECT * FROM sqladb", connection))

 3. First delete query (Delete rows where education = Masters)
--------------------------------------------------------------------------------
       index  age          workclass  fnlwgt      education  education_num  \
0          0   50   Self-emp-not-inc    1515      Bachelors             13
1          1   38            Updated  215646        HS-grad              9
2          2   53            Updated  234721           11th              7
3          3   28            Updated  338409      Bachelors             13
4          5   49            Updated  160187            9th              5
5          6   52   Self-emp-not-inc  209642        HS-grad              9
6          8   42            Updated  159449      Bachelors             13
7          9   37            Updated  280464   Some-college             10
8         10   30          State-gov  141297      Bachelors             13
9         11   23            Updated  122272      Bachelors             13
10        12   32            Updated  205019     Assoc-acdm             12
11        13   40            Updated  121772      Assoc-voc             11
12        14   34            Updated  245487        7th-8th              4
13        15   25   Self-emp-not-inc  176756        HS-grad              9
14        16   32            Updated  186824        HS-grad              9
15        17   38            Updated   28887           11th              7
16        19   40            Updated  193524      Doctorate             16
17        20   54            Updated  302146        HS-grad              9
18        21   35        Federal-gov   76845            9th              5
19        22   43            Updated  117037           11th              7
20        23   59            Updated  109015        HS-grad              9
21        24   56          Local-gov  216851      Bachelors             13
22        25   19            Updated  168294        HS-grad              9
23        26   54                  ?  180211   Some-college             10
24        27   39            Updated  367260        HS-grad              9
25        28   49            Updated  193366        HS-grad              9
26        29   23          Local-gov  190709     Assoc-acdm             12
27        30   20            Updated  266015   Some-college             10
28        31   45            Updated  386940      Bachelors             13
29        32   30        Federal-gov   59951   Some-college             10
...      ...  ...                ...     ...            ...            ...
30807  32527   31            Updated  292592        HS-grad              9
30808  32528   29            Updated  125976        HS-grad              9
30809  32529   35                  ?  320084      Bachelors             13
30810  32530   30                  ?   33811      Bachelors             13
30811  32531   34            Updated  204461      Doctorate             16
30812  32532   54            Updated  337992      Bachelors             13
30813  32533   37            Updated  179137   Some-college             10
30814  32534   22            Updated  325033           12th              8
30815  32535   34            Updated  160216      Bachelors             13
30816  32536   30            Updated  345898        HS-grad              9
30817  32537   38            Updated  139180      Bachelors             13
30818  32538   71                  ?  287372      Doctorate             16
30819  32539   45          State-gov  252208        HS-grad              9
30820  32540   41                  ?  202822        HS-grad              9
30821  32541   72                  ?  129912        HS-grad              9
30822  32542   45          Local-gov  119199     Assoc-acdm             12
30823  32544   39          Local-gov  111499     Assoc-acdm             12
30824  32545   37            Updated  198216     Assoc-acdm             12
30825  32546   43            Updated  260761        HS-grad              9
30826  32547   65   Self-emp-not-inc   99359    Prof-school             15
30827  32548   43          State-gov  255835   Some-college             10
30828  32549   43   Self-emp-not-inc   27242   Some-college             10
30829  32550   32            Updated   34066           10th              6
30830  32551   43            Updated   84661      Assoc-voc             11
30831  32554   22            Updated  310152   Some-college             10
30832  32555   27            Updated  257302     Assoc-acdm             12
30833  32556   40            Updated  154374        HS-grad              9
30834  32557   58            Updated  151910        HS-grad              9
30835  32558   22            Updated  201490        HS-grad              9
30836  32559   52       Self-emp-inc  287927        HS-grad              9

               marital_status          occupation     relationship  \
0          Married-civ-spouse     Exec-managerial          Husband
1                    Divorced   Handlers-cleaners    Not-in-family
2          Married-civ-spouse   Handlers-cleaners          Husband
3          Married-civ-spouse      Prof-specialty             Wife
4       Married-spouse-absent       Other-service    Not-in-family
5          Married-civ-spouse     Exec-managerial          Husband
6          Married-civ-spouse     Exec-managerial          Husband
7          Married-civ-spouse     Exec-managerial          Husband
8          Married-civ-spouse      Prof-specialty          Husband
9               Never-married        Adm-clerical        Own-child
10              Never-married               Sales    Not-in-family
11         Married-civ-spouse        Craft-repair          Husband
12         Married-civ-spouse    Transport-moving          Husband
13              Never-married     Farming-fishing        Own-child
14              Never-married   Machine-op-inspct        Unmarried
15         Married-civ-spouse               Sales          Husband
16         Married-civ-spouse      Prof-specialty          Husband
17                  Separated       Other-service        Unmarried
18         Married-civ-spouse     Farming-fishing          Husband
19         Married-civ-spouse    Transport-moving          Husband
20                   Divorced        Tech-support        Unmarried
21         Married-civ-spouse        Tech-support          Husband
22              Never-married        Craft-repair        Own-child
23         Married-civ-spouse                   ?          Husband
24                   Divorced     Exec-managerial    Not-in-family
25         Married-civ-spouse        Craft-repair          Husband
26              Never-married     Protective-serv    Not-in-family
27              Never-married               Sales        Own-child
28                   Divorced     Exec-managerial        Own-child
29         Married-civ-spouse        Adm-clerical        Own-child
...                       ...                 ...              ...
30807      Married-civ-spouse   Machine-op-inspct             Wife
30808               Separated               Sales        Unmarried
30809      Married-civ-spouse                   ?             Wife
30810           Never-married                   ?    Not-in-family
30811      Married-civ-spouse      Prof-specialty          Husband
30812      Married-civ-spouse     Exec-managerial          Husband
30813                Divorced        Adm-clerical        Unmarried
30814           Never-married     Protective-serv        Own-child
30815           Never-married     Exec-managerial    Not-in-family
30816           Never-married        Craft-repair    Not-in-family
30817                Divorced      Prof-specialty        Unmarried
30818      Married-civ-spouse                   ?          Husband
30819               Separated        Adm-clerical        Own-child
30820               Separated                   ?    Not-in-family
30821      Married-civ-spouse                   ?          Husband
30822                Divorced      Prof-specialty        Unmarried
30823      Married-civ-spouse        Adm-clerical             Wife
30824                Divorced        Tech-support    Not-in-family
30825      Married-civ-spouse   Machine-op-inspct          Husband
30826           Never-married      Prof-specialty    Not-in-family
30827                Divorced        Adm-clerical   Other-relative
30828      Married-civ-spouse        Craft-repair          Husband
30829      Married-civ-spouse   Handlers-cleaners          Husband
30830      Married-civ-spouse               Sales          Husband
30831           Never-married     Protective-serv    Not-in-family
30832      Married-civ-spouse        Tech-support             Wife
30833      Married-civ-spouse   Machine-op-inspct          Husband
30834                 Widowed        Adm-clerical        Unmarried
30835           Never-married        Adm-clerical        Own-child
30836      Married-civ-spouse     Exec-managerial             Wife

                      race      sex  capital_gain  capital_loss  \
0                    White     Male             0             0
1                    White     Male             0             0
2                    Black     Male             0             0
3                    Black   Female             0             0
4                    Black   Female             0             0
5                    White     Male             0             0
6                    White     Male          5178             0
7                    Black     Male             0             0
8       Asian-Pac-Islander     Male             0             0
9                    White   Female             0             0
10                   Black     Male             0             0
11      Asian-Pac-Islander     Male             0             0
12      Amer-Indian-Eskimo     Male             0             0
13                   White     Male             0             0
14                   White     Male             0             0
15                   White     Male             0             0
16                   White     Male             0             0
17                   Black   Female             0             0
18                   Black     Male             0             0
19                   White     Male             0          2042
20                   White   Female             0             0
21                   White     Male             0             0
22                   White     Male             0             0
23      Asian-Pac-Islander     Male             0             0
24                   White     Male             0             0
25                   White     Male             0             0
26                   White     Male             0             0
27                   Black     Male             0             0
28                   White     Male             0          1408
29                   White     Male             0             0
...                    ...      ...           ...           ...
30807                White   Female             0             0
30808                White   Female             0             0
30809                White   Female             0             0
30810   Asian-Pac-Islander   Female             0             0
30811                White     Male             0             0
30812   Asian-Pac-Islander     Male             0             0
30813                White   Female             0             0
30814                Black     Male             0             0
30815                White   Female             0             0
30816                Black     Male             0             0
30817                Black   Female         15020             0
30818                White     Male             0             0
30819                White   Female             0             0
30820                Black   Female             0             0
30821                White     Male             0             0
30822                White   Female             0             0
30823                White   Female             0             0
30824                White   Female             0             0
30825                White     Male             0             0
30826                White     Male          1086             0
30827                White   Female             0             0
30828                White     Male             0             0
30829   Amer-Indian-Eskimo     Male             0             0
30830                White     Male             0             0
30831                White     Male             0             0
30832                White   Female             0             0
30833                White     Male             0             0
30834                White   Female             0             0
30835                White     Male             0             0
30836                White   Female         15024             0

       hours_per_week native_country income_class
0                  13        America        <=50K
1                  40        America        <=50K
2                  40        America        <=50K
3                  40           Cuba        <=50K
4                  16        Jamaica        <=50K
5                  45        America         >50K
6                  40        America         >50K
7                  80        America         >50K
8                  40          India         >50K
9                  30        America        <=50K
10                 50        America        <=50K
11                 40              ?         >50K
12                 45         Mexico        <=50K
13                 35        America        <=50K
14                 40        America        <=50K
15                 50        America        <=50K
16                 60        America         >50K
17                 20        America        <=50K
18                 40        America        <=50K
19                 40        America        <=50K
20                 40        America        <=50K
21                 40        America         >50K
22                 40        America        <=50K
23                 60          South         >50K
24                 80        America        <=50K
25                 40        America        <=50K
26                 52        America        <=50K
27                 44        America        <=50K
28                 40        America        <=50K
29                 40        America        <=50K
...               ...            ...          ...
30807              40        America        <=50K
30808              35        America        <=50K
30809              55        America         >50K
30810              99        America        <=50K
30811              60        America         >50K
30812              50          Japan         >50K
30813              39        America        <=50K
30814              35        America        <=50K
30815              55        America         >50K
30816              46        America        <=50K
30817              45        America         >50K
30818              10        America         >50K
30819              40        America        <=50K
30820              32        America        <=50K
30821              25        America        <=50K
30822              48        America        <=50K
30823              20        America         >50K
30824              40        America        <=50K
30825              40         Mexico        <=50K
30826              60        America        <=50K
30827              40        America        <=50K
30828              50        America        <=50K
30829              40        America        <=50K
30830              45        America        <=50K
30831              40        America        <=50K
30832              38        America        <=50K
30833              40        America         >50K
30834              40        America        <=50K
30835              20        America        <=50K
30836              40        America         >50K

[30837 rows x 16 columns]

In [57]:
print("\n 3. Second delete query (Delete rows where sex = Male) \n",'-'*80, sep='')

cursor.execute('DELETE FROM sqladb WHERE sex = " Male"')
print(pd.read_sql_query("SELECT * FROM sqladb", connection))

 3. Second delete query (Delete rows where sex = Male)
--------------------------------------------------------------------------------
       index  age          workclass  fnlwgt      education  education_num  \
0          3   28            Private  338409      Bachelors             13
1          4   37            Private  284582        Masters             14
2          5   49            Private  160187            9th              5
3          7   31            Private   45781        Masters             14
4         11   23            Private  122272      Bachelors             13
5         18   43   Self-emp-not-inc  292175        Masters             14
6         20   54            Private  302146        HS-grad              9
7         23   59            Private  109015        HS-grad              9
8         36   19            Private  544091        HS-grad              9
9         42   49            Private   94638        HS-grad              9
10        46   44            Private  128354        Masters             14
11        49   25            Private   32275   Some-college             10
12        50   18            Private  226956        HS-grad              9
13        51   47            Private   51835    Prof-school             15
14        65   28            Private  183175   Some-college             10
15        66   53            Private  169846        HS-grad              9
16        70   31            Private  309974      Bachelors             13
17        77   18            Private  309634           11th              7
18        81   46            Private   51618        HS-grad              9
19        83   44            Private  343591        HS-grad              9
20        84   53            Private  346253        HS-grad              9
21        88   43        Federal-gov  410867      Doctorate             16
22        90   37            Private  286730   Some-college             10
23        91   28            Private  212563   Some-college             10
24        92   30            Private  117747        HS-grad              9
25        97   48            Private  171095     Assoc-acdm             12
26       101   47   Self-emp-not-inc  149116        Masters             14
27       102   20            Private  188300   Some-college             10
28       105   17                  ?  304873           10th              6
29       107   31          Local-gov  189265        HS-grad              9
...      ...  ...                ...     ...            ...            ...
10741  32485   24            Private  216984   Some-college             10
10742  32490   33            Private   63079        HS-grad              9
10743  32492   24            Private  381895           11th              7
10744  32496   34            Private  321709        HS-grad              9
10745  32503   50            Private  208630        Masters             14
10746  32507   45            Private  155093           10th              6
10747  32508   32            Private  192965        HS-grad              9
10748  32510   25          Local-gov  514716      Bachelors             13
10749  32512   46            Private   42972        Masters             14
10750  32515   30            Private  176175      Assoc-voc             11
10751  32519   27            Private  177398        HS-grad              9
10752  32523   26            Private  191648     Assoc-acdm             12
10753  32524   81                  ?  120478      Assoc-voc             11
10754  32527   31            Private  292592        HS-grad              9
10755  32528   29            Private  125976        HS-grad              9
10756  32529   35                  ?  320084      Bachelors             13
10757  32530   30                  ?   33811      Bachelors             13
10758  32533   37            Private  179137   Some-college             10
10759  32535   34            Private  160216      Bachelors             13
10760  32537   38            Private  139180      Bachelors             13
10761  32539   45          State-gov  252208        HS-grad              9
10762  32540   41                  ?  202822        HS-grad              9
10763  32542   45          Local-gov  119199     Assoc-acdm             12
10764  32543   31            Private  199655        Masters             14
10765  32544   39          Local-gov  111499     Assoc-acdm             12
10766  32545   37            Private  198216     Assoc-acdm             12
10767  32548   43          State-gov  255835   Some-college             10
10768  32555   27            Private  257302     Assoc-acdm             12
10769  32557   58            Private  151910        HS-grad              9
10770  32559   52       Self-emp-inc  287927        HS-grad              9

               marital_status          occupation     relationship  \
0          Married-civ-spouse      Prof-specialty             Wife
1          Married-civ-spouse     Exec-managerial             Wife
2       Married-spouse-absent       Other-service    Not-in-family
3               Never-married      Prof-specialty    Not-in-family
4               Never-married        Adm-clerical        Own-child
5                    Divorced     Exec-managerial        Unmarried
6                   Separated       Other-service        Unmarried
7                    Divorced        Tech-support        Unmarried
8           Married-AF-spouse        Adm-clerical             Wife
9                   Separated        Adm-clerical        Unmarried
10                   Divorced     Exec-managerial        Unmarried
11         Married-civ-spouse     Exec-managerial             Wife
12              Never-married       Other-service        Own-child
13         Married-civ-spouse      Prof-specialty             Wife
14                   Divorced        Adm-clerical    Not-in-family
15         Married-civ-spouse        Adm-clerical             Wife
16                  Separated               Sales        Own-child
17              Never-married       Other-service        Own-child
18         Married-civ-spouse       Other-service             Wife
19                   Divorced        Craft-repair    Not-in-family
20                   Divorced               Sales        Own-child
21              Never-married      Prof-specialty    Not-in-family
22                   Divorced        Craft-repair        Unmarried
23                   Divorced   Machine-op-inspct        Unmarried
24         Married-civ-spouse               Sales             Wife
25                   Divorced     Exec-managerial        Unmarried
26              Never-married      Prof-specialty    Not-in-family
27              Never-married        Tech-support        Own-child
28              Never-married                   ?        Own-child
29              Never-married        Adm-clerical    Not-in-family
...                       ...                 ...              ...
10741      Married-civ-spouse       Other-service        Own-child
10742                Divorced        Adm-clerical        Unmarried
10743                Divorced   Machine-op-inspct        Unmarried
10744           Never-married       Other-service    Not-in-family
10745                Divorced               Sales    Not-in-family
10746                Divorced       Other-service    Not-in-family
10747               Separated               Sales    Not-in-family
10748           Never-married        Adm-clerical        Own-child
10749      Married-civ-spouse      Prof-specialty             Wife
10750                Divorced        Adm-clerical        Unmarried
10751           Never-married       Other-service        Unmarried
10752           Never-married   Machine-op-inspct   Other-relative
10753                Divorced                   ?        Unmarried
10754      Married-civ-spouse   Machine-op-inspct             Wife
10755               Separated               Sales        Unmarried
10756      Married-civ-spouse                   ?             Wife
10757           Never-married                   ?    Not-in-family
10758                Divorced        Adm-clerical        Unmarried
10759           Never-married     Exec-managerial    Not-in-family
10760                Divorced      Prof-specialty        Unmarried
10761               Separated        Adm-clerical        Own-child
10762               Separated                   ?    Not-in-family
10763                Divorced      Prof-specialty        Unmarried
10764                Divorced       Other-service    Not-in-family
10765      Married-civ-spouse        Adm-clerical             Wife
10766                Divorced        Tech-support    Not-in-family
10767                Divorced        Adm-clerical   Other-relative
10768      Married-civ-spouse        Tech-support             Wife
10769                 Widowed        Adm-clerical        Unmarried
10770      Married-civ-spouse     Exec-managerial             Wife

                      race      sex  capital_gain  capital_loss  \
0                    Black   Female             0             0
1                    White   Female             0             0
2                    Black   Female             0             0
3                    White   Female         14084             0
4                    White   Female             0             0
5                    White   Female             0             0
6                    Black   Female             0             0
7                    White   Female             0             0
8                    White   Female             0             0
9                    White   Female             0             0
10                   White   Female             0             0
11                   Other   Female             0             0
12                   White   Female             0             0
13                   White   Female             0          1902
14                   White   Female             0             0
15                   White   Female             0             0
16                   Black   Female             0             0
17                   White   Female             0             0
18                   White   Female             0             0
19                   White   Female         14344             0
20                   White   Female             0             0
21                   White   Female             0             0
22                   White   Female             0             0
23                   Black   Female             0             0
24      Asian-Pac-Islander   Female             0          1573
25                   White   Female             0             0
26                   White   Female             0             0
27                   White   Female             0             0
28                   White   Female         34095             0
29                   White   Female             0             0
...                    ...      ...           ...           ...
10741   Asian-Pac-Islander   Female             0             0
10742                Black   Female             0             0
10743                White   Female             0             0
10744                White   Female             0             0
10745                White   Female             0             0
10746                Black   Female             0             0
10747                White   Female             0             0
10748                Black   Female             0             0
10749                White   Female             0             0
10750                White   Female             0             0
10751                White   Female             0             0
10752                White   Female             0             0
10753                White   Female             0             0
10754                White   Female             0             0
10755                White   Female             0             0
10756                White   Female             0             0
10757   Asian-Pac-Islander   Female             0             0
10758                White   Female             0             0
10759                White   Female             0             0
10760                Black   Female         15020             0
10761                White   Female             0             0
10762                Black   Female             0             0
10763                White   Female             0             0
10764                Other   Female             0             0
10765                White   Female             0             0
10766                White   Female             0             0
10767                White   Female             0             0
10768                White   Female             0             0
10769                White   Female             0             0
10770                White   Female         15024             0

       hours_per_week       native_country income_class
0                  40                 Cuba        <=50K
1                  40        United-States        <=50K
2                  16              Jamaica        <=50K
3                  50        United-States         >50K
4                  30        United-States        <=50K
5                  45        United-States         >50K
6                  20        United-States        <=50K
7                  40        United-States        <=50K
8                  25        United-States        <=50K
9                  40        United-States        <=50K
10                 40        United-States        <=50K
11                 40        United-States        <=50K
12                 30                    ?        <=50K
13                 60             Honduras         >50K
14                 40        United-States        <=50K
15                 40        United-States         >50K
16                 40        United-States        <=50K
17                 22        United-States        <=50K
18                 40        United-States        <=50K
19                 40        United-States         >50K
20                 35        United-States        <=50K
21                 50        United-States         >50K
22                 40        United-States        <=50K
23                 25        United-States        <=50K
24                 35                    ?        <=50K
25                 40              England        <=50K
26                 50        United-States        <=50K
27                 40        United-States        <=50K
28                 32        United-States        <=50K
29                 40        United-States        <=50K
...               ...                  ...          ...
10741              35        United-States        <=50K
10742              40        United-States        <=50K
10743              40        United-States        <=50K
10744              28        United-States        <=50K
10745              50        United-States         >50K
10746              38   Dominican-Republic        <=50K
10747              45        United-States        <=50K
10748              40        United-States        <=50K
10749              22        United-States         >50K
10750              24        United-States        <=50K
10751              64        United-States        <=50K
10752              15        United-States        <=50K
10753               1                    ?        <=50K
10754              40        United-States        <=50K
10755              35        United-States        <=50K
10756              55        United-States         >50K
10757              99        United-States        <=50K
10758              39        United-States        <=50K
10759              55        United-States         >50K
10760              45        United-States         >50K
10761              40        United-States        <=50K
10762              32        United-States        <=50K
10763              48        United-States        <=50K
10764              30        United-States        <=50K
10765              20        United-States         >50K
10766              40        United-States        <=50K
10767              40        United-States        <=50K
10768              38        United-States        <=50K
10769              40        United-States        <=50K
10770              40        United-States         >50K

[10771 rows x 16 columns]

#4. Write two filter queries

In [14]:
print('\n 4. Write two filter queries \n','-'*75, sep='')

print(pd.read_sql_query("SELECT education, COUNT(*) AS Total FROM sqladb GROUP BY education;", connection))

 4. Write two filter queries
---------------------------------------------------------------------------
        education  Total
0            10th    933
1            11th   1175
2            12th    433
3         1st-4th    168
4         5th-6th    333
5         7th-8th    646
6             9th    514
7      Assoc-acdm   1067
8       Assoc-voc   1382
9       Bachelors   5354
10      Doctorate    413
11        HS-grad  10501
12      Preschool     51
13    Prof-school    576
14   Some-college   7291

In [15]:
print('\n 4. Write two filter queries \n','-'*35, sep='')

print(pd.read_sql_query("SELECT race, COUNT(*) AS Total FROM sqladb GROUP BY race;", connection))

 4. Write two filter queries
-----------------------------------
                  race  Total
0   Amer-Indian-Eskimo    306
1   Asian-Pac-Islander    951
2                Black   3038
3                Other    264
4                White  26278

#5. Write two function queries

In [45]:
print("\n 5. First function query (Working hours as per Occupation) \n",'-'*65, sep='')

def workhrs():
    
    connection  = sqlite3.connect("sqladb")
    cursor = connection.cursor()
           
    return pd.read_sql_query('SELECT occupation, hours_per_week FROM sqladb GROUP BY occupation ', connection)

workhrs()

 5. First function query (Working hours as per Occupation)
-----------------------------------------------------------------

            occupation  hours_per_week
0                    ?              25
1         Adm-clerical              20
2         Armed-Forces               8
3         Craft-repair              50
4      Exec-managerial              40
5      Farming-fishing              56
6    Handlers-cleaners              40
7    Machine-op-inspct              40
8        Other-service              30
9      Priv-house-serv              12
10      Prof-specialty              60
11     Protective-serv              40
12               Sales              45
13        Tech-support              38
14    Transport-moving              40

In [49]:
print("\n 5. Second function query (Average age for getting married) \n",'-'*65, sep='')

def maritalage():
    
    connection  = sqlite3.connect("sqladb")
    cursor = connection.cursor()
    
    return pd.read_sql_query('SELECT marital_status, avg(age) FROM sqladb GROUP BY marital_status ', connection)

maritalage()

 5. Second function query (Average age for getting married)
-----------------------------------------------------------------

           marital_status   avg(age)
0                Divorced  43.041639
1       Married-AF-spouse  32.478261
2      Married-civ-spouse  43.247596
3   Married-spouse-absent  40.578947
4           Never-married  28.149972
5               Separated  39.354146
6                 Widowed  58.975831

In [58]:
cursor.close()
connection.close()